$display1-size: 7.5rem;

@import './base';

@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/utilities';

@import 'node_modules/bootstrap/scss/grid';

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
}
